* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root {
    --main: #fff;
    --prussian-blue: #0B3954;
    --columbia-blue: #BFD7EA;
    --bittersweet: #FF6663;
    --chartreuse: #FF6663;
    --bittersweet-ligher: #fd7977;
  --button-color: #ff1414;
}


body {
    background-color: #050604;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.background-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.background {
    background: url("https://cdn.wallpapersafari.com/38/65/Fcx7LA.jpg");
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    height: 100vw;
    filter: brightness(.5);
    background-attachment: fixed;
}

.content-container {
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    font-size: max(1.5rem, 2rem + 1vw);
    color: #fff;
    margin-top: 15%;
    margin-bottom: 5%;
    position: relative;
    text-align: center;
    z-index: 100;
}

.search-topic {
    position:relative;
    z-index: 100;
    width: 25%;
    height: 3%;
    font-size: 1.3rem;
    border-radius: 30px;
    padding: 2px 20px;
    outline: none;
    border: none;
    transition: width .7s ease;
    transform-origin: center;
    font-weight: bold;
}

.search-topic:focus {
    width: 30%;
}

.search-topic::placeholder {
    font-weight: bold;
    font-size: 1.3rem;
    opacity: .4;
}


.nav-list-links a, .page-name a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}


.nav-list-links a::after {
    content: '';
    position: absolute;
    transition: .8s;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--bittersweet);
}

.nav-list-links a::before {
    content: '';
    position: absolute;
    transition: .8s;
    bottom: -2px;
    right: 50%;
    width: 0;
    height: 2px;
    background-color: var(--bittersweet);
}


.nav-list-links a:hover:after {
    width: 50%;
}

.nav-list-links a:hover:before {
    width: 50%;
}


.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 1.5rem 3rem;
    gap: 2.5rem;
    width: 100%;
}
nav {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

header {
    position: relative;
    width: 100%;
    height: 100%;
}

.nav-list li:first-child {
    margin-right: auto;   
}
.nav-list .page-name a {
    font-size: 1.8rem;
 
}

footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    margin-bottom: .5rem;
}

.other-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    flex-direction: row;
    margin: 2rem 0;
    gap: 5rem;
}

.other-links a {
    text-decoration: none;
    color: #fff;
}


.other-links a:hover {
    color: #ddd;
}

.section-videos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: url("https://cdn.wallpapersafari.com/1/97/co341S.jpg");
    background-attachment: fixed;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 5rem;
    box-shadow: inset 1000px 210px #0009;
}

.videos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-basis: content;
    flex-flow: wrap;
    width: 100%;
    height: 100%;
    gap: 3rem;
}

.section-about-us p, .videos-title {
    font-size: 2rem;
    text-align: center;
    color: #fff;
}

.videos-title {
    margin-top: 10rem;
}

.section-about-us h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.section-about-us {
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 6rem;
    gap: 3rem;
}

.section-about-us img {
    width: 400px;
}


.cards {
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 auto;
    min-height: 100vh;
    align-content: center;
    background: url("https://wallpapercrafter.com/desktop/159611-Star-Wars-Imperial-Forces-science-fiction-spaceship-Star-Wars-Ships-Star-Destroyer.jpg");
    background-attachment: fixed;
}

.card img {
    width: 150px;
    border-radius: 50%;
}

.card {
    display: flex;
    padding: 1.5rem .5rem;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(60px);
    width: 15%;
    box-shadow: 120px 2px 80px #99999935;
    outline: 0.009px solid #fff1;
    min-width: 300px;
    min-height: 400px;
    border-radius: 20px;
    gap: 1.5rem;
}

.card h3, .card p, .card a {
    color: #fff;
}

.card h3 {
    font-weight: bold;
    font-size: 1.3rem;
}

.card p {
    font-size: .8rem;
    margin-top: -10px;
}

.card a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000;
    background-color: var(--columbia-blue);
    padding: .4em  1.2em;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 2em;
    transition: transform .7s;
}

.card a:hover {
    transform: scale(1.1);
}

.video-trailer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.video-trailer h2 {
    color: #fff;
    margin-top: 1em;
    font-size: 3.5rem;
    
}

.video-trailer article {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.video-trailer img {
    width: 10%;
    align-self: flex-start;
    margin-left: 10em;
}

.video-trailer figure video source {
    justify-self: center;
}

.articles {
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.article img {
    width: 100%;
    border-radius: 25px 25px 0 0;
    filter:brightness(.8)
}

.article p, .article h2, .article a {
    color: #000;
    text-align: center;
}

.header-articles {
    color: #fff;
    text-align: center;
    margin-bottom: 5rem;
    font-size: 2rem;
}

.article {
    border-radius: 30px;
    display: flex;
    gap: 2.4em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-width: 580px;
    max-width: 20%;
    background-color: #FFE1EA;
    box-shadow: 10px 2px 30px 5px #fff2;
}

.header-articles {
    text-align: center;
    margin-top: 10rem;
}

.article-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    min-height: 300px;  
    flex-direction: column;
    background: #FFE1EA;
    padding: 2em;
    border-radius: 0 0 25px 25px;
}

.article .article-content a {
    text-decoration: none;
    background-color: var(--bittersweet);
    padding: .7em 1.5em;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 30px;
    border: none;
}

.article .article-content a:hover {
    background-color: var(--bittersweet-ligher);
}


.podcasts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("https://www.pixelstalk.net/wp-content/uploads/images6/Star-Wars-Space-Background-HD.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    background-attachment: fixed;
}

.audios {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    gap: 2em;
    flex-wrap: wrap;
    width: 90%;
    min-height: 80vh;
    
}

.audio {
    min-width: 600px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 120px 2px 80px #99999935;
    outline: 0.009px solid #fff1;
    padding: 1.5em 3em;
    backdrop-filter: blur(60px);
    gap: 2em;
}

.audio article {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1em;
    width: 70%;
    gap: 1em
}

.audio article h2, .audio figcaption {
    color: #fff;
}

.audio article h2 {
    font-size: 90%;
    min-height: 60px;
}

.audio figcaption {
    font-size: .8rem;
    font-weight: lighter;
}

.audio article figure audio {
    width: 100%;
}

.audio img {
    max-width: 225px;
    object-fit: cover;
}

.title-podcasts {
    text-align: center;
    color: #fff;
    margin-top: -3rem;
    font-size: 2rem;
}
.title-characters {
    text-align: center;
    color: #fff;
    margin-top: -3rem;
    font-size: 2rem;
}

.article-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    gap: 4em;
    min-height: 100vh;
}

.article-section p {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1cm;
}

.article-section h1 {
    color: #fff;
    font-size: 3rem;

}

form {
    background: var(--columbia-blue);
    width: 50%;
    margin: 0 auto;
    min-height: 500px;
    margin-top: 20rem;
    padding: 5em 2em 3em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    position: relative;
    border-radius: 20px;
    margin-bottom: 20rem;
}

form input {
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 1em 2em;
    width: 70%;
    font-size: 1rem;
}

form label {
    font-weight: bold;
    font-size: 1.5rem;
}

form p {
    margin-bottom: 2em;
}

form h1 {
    font-size: 3rem;
}

form button {
    border: 10px solid var(--button-color);
    padding: .5em 4em;
    display: inline-block;
    font-size: clamp(.7rem, 1.6rem + 0.2vw, 5rem);
    font-weight: bold;
    margin-top: 3em;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;;
    background: var(--button-color);
    transition: all .4s ease;
    text-align: center;
}

form button:hover {
    border: var(--button-color) 10px solid;
    text-shadow: 0 0 0.125em #ffffff4d, 0 0 0.45em var(--button-color);
    box-shadow: inset 0 0 0.5em 0 var(--button-color), 0 0 0.5em 0 var(--button-color);
}

form img {
    width: 200px;
    position: absolute;
    top: -6.5rem;
}