* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root {
    --main: #fff;
    --prussian-blue: #0B3954;
    --columbia-blue: #BFD7EA;
    --bittersweet: #FF6663;
    --chartreuse: #FF6663;
    --bittersweet-ligher: #fd7977;
}


body {
    background-color: #050604;
}

.background-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.background {
    background: url("https://cdn.wallpapersafari.com/38/65/Fcx7LA.jpg");
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    height: 100vw;
    filter: brightness(.5);
    background-attachment: fixed;
}

.content-container {
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    font-size: max(1.5rem, 2rem + 1vw);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    margin-top: 15%;
    margin-bottom: 5%;
    position: relative;
    text-align: center;
    z-index: 100;
}

.search-topic {
    position:relative;
    z-index: 100;
    width: 25%;
    height: 3%;
    font-size: 1.3rem;
    border-radius: 30px;
    padding: 2px 20px;
    outline: none;
    border: none;
    transition: width .7s ease;
    transform-origin: center;
    font-weight: bold;
}

.search-topic:focus {
    width: 30%;
}

.search-topic::placeholder {
    font-weight: bold;
    font-size: 1.3rem;
    opacity: .4;
}


.nav-list-links a, .page-name a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}


.nav-list-links a::after {
    content: '';
    position: absolute;
    transition: .8s;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--bittersweet);
}

.nav-list-links a::before {
    content: '';
    position: absolute;
    transition: .8s;
    bottom: -2px;
    right: 50%;
    width: 0;
    height: 2px;
    background-color: var(--bittersweet);
}


.nav-list-links a:hover:after {
    width: 50%;
}

.nav-list-links a:hover:before {
    width: 50%;
}


.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 1.5rem 3rem;
    gap: 2.5rem;
    width: 100%;
}
nav {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

header {
    position: relative;
    width: 100%;
    height: 100%;
}

.nav-list li:first-child {
    margin-right: auto;   
}
.nav-list .page-name a {
    font-size: 1.8rem;
 
}

footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: .5rem;
}

.other-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    flex-direction: row;
    margin: 2rem 0;
    gap: 5rem;
}

.other-links a {
    text-decoration: none;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.other-links a:hover {
    color: #ddd;
}

.section-videos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: column;
    width: 100%;
    gap: 5rem;
    margin-top: 10rem;
}

.videos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-basis: content;
    flex-flow: wrap;
    width: 100%;
    height: 100%;
    gap: 3rem;
}

.section-about-us p, .videos-title {
    font-size: 2rem;
    text-align: center;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section-about-us h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section-about-us {
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 6rem;
    gap: 3rem;
}

.section-about-us img {
    width: 400px;
}


.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 auto;
    width: 80%;
    margin-top: 10rem;
}

.card img {
    width: 150px;
    border-radius: 50%;
}

.card {
    display: flex;
    padding: 1.5rem .5rem;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: var(--prussian-blue);
    width: 15%;
    min-width: 300px;
    min-height: 400px;
    border-radius: 20px;
    gap: 1.5rem;
}

.card h3, .card p, .card a {
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card h3 {
    font-weight: bold;
    font-size: 1.3rem;
}

.card p {
    font-size: .8rem;
    margin-top: -10px;
}

.card a {
    text-decoration: none;
    font-size: 1.2rem;
    background-color: var(--chartreuse);
    padding: .4em  1.2em;
    border-radius: 30px;
    font-weight: bold;
}

.video-trailer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.video-trailer h2 {
    color: #fff;
    font-size: 3.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.video-trailer figcaption {
    color: #fff;
    text-align: center;
    margin-top: 3rem;
}

.articles {
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.article img {
    width: 100%;
    border-radius: 25px 25px 0 0;
    filter:brightness(.8)
}

.article p, .article h2, .article a, .header-articles {
    color: #000;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.article {
    border-radius: 30px;
    display: flex;
    gap: 2.4em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-width: 500px;
    max-width: 30%;
    min-height: 10%;
    background-color: #FFE1EA;
}

.header-articles {
    text-align: center;
    margin-top: 10rem;
}

.article-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 1em;   
    flex-direction: column;
    background: #FFE1EA;
    padding: 2em;
    border-radius: 0 0 25px 25px;
}

.article .article-content a {
    text-decoration: none;
    background-color: var(--bittersweet);
    padding: .7em 1.5em;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 30px;
    border: none;
}

.article .article-content a:hover {
    background-color: var(--bittersweet-ligher);
}